@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

header{
	background-color: rgba(0,0,0,0.7);
}

.titulo1{
	font-family: 'Viga', arial;
	font-size: 2rem;
}

.nav-link{font-size: 1.25rem;}

.fa-bars{
	color: #fff;
	font-size: 1.875rem;
}

.jumbotron{
	
	background-image: url('../images/jumbotron-bg.jpg');
	background-size: cover;
}

.no-margin{
	margin-right:  -15px;
	margin-left: -15px;
}